ion-list{
  margin-top: 75px;
}

ion-item{
  margin: 20px;
}

ion-icon{
  background: white;
  width: 20px;
  height: 20px;
  color: black;
}

ion-item-group{
  margin-top: 50px;
}

ion-button{
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

ion-img{
  margin-top: 50px;
  margin-bottom: 50px;
}

.signUpButton{
  margin-top: 20px;
  color: black;
}

ion-label{
  margin-top: 20px;
}

.margin-top{
  margin-top: 125px;
}
